body {
  text-align: center;
}
h1{
    font-size: 40px;
    line-height: 1.2;
    font-family: Helvetica;
    font-weight: 300;
    font-color: 
}
h2{
    font-size: 40px;
    line-height: 1.2;
    font-family: Helvetica;
    font-weight: 300;
}
img {
  margin-top: 200px;
}